server:
  port: 8088

spring:
  devtools:
    livereload:
      enabled: true
    thymeleaf:
      cache: false

  main:
    allow-bean-definition-overriding: true

  kafka:
    bootstrap-servers: 192.168.0.9:9092
    consumer:
      bootstrap-servers: 192.168.98.51:9092
      group-id: foo
      # auto-offset-reset: earliest
      # key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      # value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      producer:
        bootstrap-servers: 192.168.98.51:9092
        # key-serializer: org.apache.kafka.common.serialization.StringSerializer
        # value-serializer: org.apache.kafka.common.serialization.StringSerializer



  #swagger 에러 개선
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

  datasource:
    url: jdbc:h2:tcp://localhost/~/jpashop
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        #        show_sql: true
        format_sql: true
        default_batch_fetch_size: 100 # 미리 땡겨올 데이터개수
        #    open-in-view: false # 커넥션 풀을 바로 끊게해줌(영속성 컨텍스트가 @Transcational까지만 유지되게 함)



logging.level:
  org.hibernate.SQL: debug
#  org.hibernate.type: trace